@use "./variables";

.crew {
  // border: 2px solid red;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.74), transparent),
    url("../assets/crew/background-crew-mobile.jpg");
  // background-position: 0 0;
  // opacity: .5;

  // &::after{
  //     content: "";
  //     position: absolute;
  //     inset: 0;
  //     background-color: #ccc;
  //     opacity: .5;
  //     z-index: -1;
  // }
  &__img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin-top: 2rem;
    // height: 20rem
    // border: 2px solid red;
    // grid-row: 2/3;
    // min-height: 95vw;
    // max-width: 40rem;
  }
  &__img {
    max-height: 20rem;
    height: 70vw;
    width: auto;
    margin: 0;
    // width: 55%;
    // min-height: 100%;
    // object-fit: cover;
    // max-width: 70%;
    // margin: 0;
    // height: 15rem;
    // border: 1px solid red;
  }
  &__line-break {
    border: none;
    height: 1px;
    width: 100%;
    background-color: variables.$dark-gray;
    margin: 0;
    padding: 0;
    // margin: -1% 0 0 0;
  }

  &__nav {
    display: flex;
    justify-content: space-around;
    width: 6rem;
    margin: 1.5rem auto;
    grid-row: 3/4;
    // border: 1px solid ;
    // min-width: 6rem;
    // height: fit-content;
  }
  &__link {
    // border: 2px solid;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    display: inline-block;
    background-color: variables.$dark-gray;
    &.active {
      background-color: variables.$white;
    }
    &:hover {
      background-color: variables.$blueish-gray;
    }
  }

  // &__content-container{
  // border: 1px solid red;
  // }

  &__name {
    // font-size: 1rem;
    margin: 0.2em 0 1em;
  }

  &__position {
    font-size: 1.05rem;
    color: variables.$gray;
    margin: 0;
    // border: 1px solid;
  }
  // &__info{
  //     // color: red;
  //     // padding: 0rem;
  // }

  @media all and (min-width: variables.$tablet-breakpoint) {
    // border: 2px solid red;
    // padding-bottom:0 !important;

    &.crew {
      // overwrite the inherited padding
      padding-bottom: 0;
    }

    &__position {
      font-size: 1.5rem;
    }
    &__name {
      font-size: 2.5rem;
    }

    &__content-container {
      // border: 2px solid red;
      grid-row: 2/3;
      min-width: 400px;
      width: 54vw;
      // max-width: 550px;
      margin: 4rem auto 0;
    }

    &__nav {
      // gap: 2rem;
      // border: 2px solid red;
      width: 10rem;
      margin: 2rem auto;
    }

    // &__link {
    //   // margin: 1.5rem  ;
    //   // border: 2px solid red;
    // //   width: 0.9rem;
    // //   height: 0.9rem;
    // }

    &__img-container {
      // border: 1px solid red;
      margin: 0;
      align-self: flex-end;
    }
    &__img {
      grid-row: auto/-1;
      max-height: 35rem;
    }
    &__line-break {
      display: none;
    }
  }
}
