@use "./variables";

.crew {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.74), transparent),
    url("../assets/crew/background-crew-mobile.jpg");

  &__img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin-top: 2rem;
  }
  &__img {
    max-height: 20rem;
    height: 70vw;
    width: auto;
    margin: 0;
  }
  &__line-break {
    border: none;
    height: 1px;
    width: 100%;
    background-color: variables.$dark-gray;
    margin: 0;
    padding: 0;
  }

  &__nav {
    display: flex;
    justify-content: space-around;
    width: 6rem;
    margin: 1.5rem auto;
    grid-row: 3/4;
  }
  &__link {
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    display: inline-block;
    background-color: variables.$dark-gray;
    &.active {
      background-color: variables.$white;
    }
    &:hover {
      background-color: variables.$blueish-gray;
    }
  }

  &__name {
    margin: 0.2em 0 1em;
  }

  &__position {
    font-size: 1.05rem;
    color: variables.$gray;
    margin: 0;
  }

  @media all and (min-width: variables.$tablet-breakpoint) {
    &.crew {
      padding-bottom: 0;
    }

    &__position {
      font-size: 1.5rem;
    }
    &__name {
      font-size: 2.5rem;
    }

    &__content-container {
      grid-row: 2/3;
      min-width: 400px;
      width: 54vw;

      margin: 4rem auto 0;
    }

    &__nav {
      width: 10rem;
      margin: 2rem auto;
    }

    &__img-container {
      margin: 0;
      align-self: flex-end;
    }
    &__img {
      grid-row: auto/-1;
      max-height: 35rem;
    }
    &__line-break {
      display: none;
    }
  }

  @media all and (min-width: variables.$desktop-breakpoint) {
    justify-content: center;

    background-image: url("../assets/crew/background-crew-desktop.jpg");
    .page__indicator {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    &__img-container {
      grid-column: 2/3;
      grid-row: 1/4;
    }
    &__img {
      max-height: 44rem;
    }

    &__content-container {
      grid-column: 1/2;

      grid-row: 2/3;
      text-align: start;

      max-width: 500px;
      margin: 10% 0 0;
    }
    &__position {
      font-size: 1.9rem;
    }
    &__name {
      font-size: 3.3rem;
      margin: 1rem 0 2rem;
    }

    &__info {
      max-width: 400px;
    }
    &__nav {
      grid-column: 1/2;

      grid-row: 3/4;

      width: 100%;
      text-align: start;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
      margin-top: 1rem;
    }
    &__link {
      width: 1rem;
      height: 1rem;
    }
  }
}
