@use "./variables";
.home {
  background-image: url("../assets/home/background-home-mobile.jpg");

  padding: 1rem;
  gap: 4rem;

  &__content {
    text-align: center;
    margin: 0;
    grid-column: 1/ -1;
    grid-row: 3/ 4;
  }
  &__heading {
    font-size: 5.2em;
    margin: 0.2em 0 0.25em;
    padding: 0;
  }
  &__subheading {
    font-size: 1.05em;
    color: variables.$blueish-gray;
    margin: 0;
    padding: 0;
    transform: scaleY(1.5);
    font-family: Barlow;
    letter-spacing: 2.5px;
  }

  &__explore-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 45vw;
    height: 45vw;
    max-width: 13rem;
    max-height: 13rem;
    margin: auto;
    grid-column: 1/ -1;
    grid-row: 4/6;
    background-color: variables.$white;

    &:hover::after {
      content: "";
      position: absolute;
      width: 150%;
      height: 150%;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      background-color: variables.$blueish-gray;
      opacity: 0.2;
      // display: block;
    }
  }
  &__explore {
    margin-bottom: 0.5rem;
    color: variables.$dark-blue;
    font-size: 1.3em;
    font-family: Bellefair;
    text-transform: uppercase;
    z-index: 1;
  }

  @media all and (min-width: variables.$tablet-breakpoint) {
    background-image: url("../assets/home/background-home-tablet.jpg");

    &__heading {
      font-size: 9em;
      margin: 3.5rem 0 -1rem;
    }
    &__subheading {
      font-size: 1.2rem;
      transform: scaleY(1);
      word-spacing: 2px;
    }

    &__body-text {
      max-width: 26rem;
      margin: auto;
    }

    &__explore-container {
      margin: 5rem auto;
    }
    &__explore {
      font-size: 1.9rem;
      margin: 0;
    }
  }

  @media all and (min-width: variables.$desktop-breakpoint) {
    background-image: url("../assets/home/background-home-desktop.jpg");

    &.page {
      padding-top: 28%;
      padding-bottom: 0%;
    }

    &__content {
      grid-row: auto;
      grid-column: 1/2;
      text-align: start;
    }
    &__explore-container {
      grid-row: auto;
      grid-column: 2/3;
    }

    &__heading {
      margin: 1.5rem 0;
    }

    &__subheading {
      font-size: 1.8rem;
    }
    &__body-text {
      margin: 0;
    }

    &__explore-container {
      max-width: 16rem;
      max-height: 16rem;
    }
  }
}
