@use "./variables";

.page.technology{
    // padding: 0;
    padding-left: 0;
    padding-right: 0;
    // padding: auto 0;
}
.technology{
// padding: inherit 1rem;
    // border: 1px solid red;
    background-image: url('../assets/technology/background-technology-mobile.jpg');
    // padding: 0;
&__img-container{
    height: fit-content;
    grid-row: 2/3;
    // width: 100vw;
    // margin: ;
    // position: absolute;
    // display: none;
}

    &__ports-img{
        display: none;
    }
    &__lands-img{
        width: 100%;
        // position: absolute;
    }


    &__nav{
        // border: 1px solid red;
        display: flex;
        justify-content: center;
        // grid-row: 4/5;
        margin: 1rem;
    }
    &__link{
        // padding: 1rem;
        background-color:transparent;
        border-radius: 50%;
        display: inline-block;
        width: 10vw;
        max-width:3rem;
        height:10vw;
        max-height:3rem;
        border: 1px solid variables.$gray;
        // text-align: center;
        // vertical-align: middle;
        display: flex;
        justify-content: center;
        align-items:center;
        margin: 0 .5em;
        font-size: 1.1rem;
        font-family: Bellefair;
        font-weight: 500;

        &.active{
            color: variables.$dark-blue;
            background-color: variables.$white;
            &:hover{
                color: variables.$dark-blue;
            }
        }
        &:hover{
            // color: variables.$dark-blue;
            // background-color: variables.$blueish-gray;
            border-color: variables.$white;
            color:variables.$white ;
        }
    }
&__content-container{
    // grid-row: 5/6;
    // border: 2px solid red;
    margin: 0 1rem;
}
    // &__terminology{

    // }
    &__title{
        // border: 2px solid ;
        margin: .3rem auto .8rem;
    }


    @media all and (min-width:variables.$tablet-breakpoint) {
        background-image: url("../assets//technology/background-technology-tablet.jpg");

        $shared-padding:  clamp(1rem, 2rem, 20vw);

        .page__indicator{
        padding: 0 clamp(1rem, 2rem, 20vw);
        // padding: ;
        
    }
    &__img-container{
            // border: 2px solid red;
            margin: 2rem 0;
        }
        
        // &__ports-img{
        //     // display: block;
        // }
        // &__lands-img{
        //     // box-sizing: content-box;
        //     // object-fit: contain;
        //     // width: 80vw;
        //     // display: none;
        //     // border: 2px solid red;
        // }
&__nav{
    margin: 0 auto 2rem;
}

        &__content-container{
            padding: 0 10vw;
            // width: 400px;
            // min-width: 50vw;
max-width: 700px;
margin: auto;
        }

        &__title{
            font-size: 2.5rem;
        }

        
    }
}