@use "./variables";

.page.technology {
  padding-left: 0;
  padding-right: 0;
}
.technology {
  background-image: url("../assets/technology/background-technology-mobile.jpg");

  &__img-container {
    height: fit-content;
    grid-row: 2/3;
  }

  &__ports-img {
    display: none;
  }
  &__lands-img {
    width: 100%;
  }

  &__nav {
    display: flex;
    justify-content: center;

    margin: 1rem;
  }
  &__link {
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
    width: 10vw;
    max-width: 3rem;
    height: 10vw;
    max-height: 3rem;
    border: 1px solid variables.$gray;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.5em;
    font-size: 1.1rem;
    font-family: Bellefair;
    font-weight: 500;

    &.active {
      color: variables.$dark-blue;
      background-color: variables.$white;
      &:hover {
        color: variables.$dark-blue;
      }
    }
    &:hover {
      border-color: variables.$white;
      color: variables.$white;
    }
  }
  &__content-container {
    margin: 0 1rem;
  }

  &__title {
    margin: 0.3rem auto 0.8rem;
  }

  @media all and (min-width: variables.$tablet-breakpoint) {
    background-image: url("../assets//technology/background-technology-tablet.jpg");

    $shared-padding: clamp(1rem, 2rem, 20vw);

    .page__indicator {
      padding: 0 clamp(1rem, 2rem, 20vw);
      // padding: ;
    }
    &__img-container {
      margin: 2rem 0;
    }

    &__nav {
      margin: 0 auto 2rem;
    }

    &__content-container {
      padding: 0 10vw;

      max-width: 700px;
      margin: auto;
    }

    &__title {
      font-size: 2.5rem;
    }
  }

  @media all and (min-width: variables.$desktop-breakpoint) {
    &.page {
      padding: 16% 0 5% 10%;
      grid-template-columns: 6rem 1.5fr repeat(2, 1fr);
    }
    background-image: url("../assets/technology/background-technology-desktop.jpg");

    .page__indicator {
      grid-column: 1/3;
    }
    &__nav {
      grid-column: 1/2;
      flex-direction: column;
      gap: 1.5rem;

      align-items: flex-start;
      margin: 0;
    }
    &__link {
      max-width: 5rem;
      max-height: 5rem;
      font-size: 1.5rem;
      margin: 0;
    }
    &__content-container {
      text-align: start;
      padding: 0;
      grid-column: 2/3;
    }
    &__title {
      font-size: 3.3rem;
    }
    &__content {
      max-width: 390px;
    }

    &__img-container {
      grid-column: 3/5;

      margin: 0;
    }
    &__lands-img {
      display: none;
    }
    &__ports-img {
      display: block;
      margin-left: auto;
    }
  }
}
