@use "./variables";

@use "./global";
@use "./main";
@use "./home";
@use "./destination";
@use "./crew";
@use "./technology";

@font-face{

  font-family: Bellefair;
  src: url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
}

@font-face {
  font-family:Barlow ;
  src: url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;300;400;500;700;800&family=Bellefair&display=swap');
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  color: variables.$white;
}

.page {
  min-height: 100vh;

  padding: 15vh 1rem;
  display: grid;

  grid-template-columns: auto;
  grid-template-rows: auto;
  background-position: center;
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;

  &__indicator {
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 2px;
    transform: scaleY(1.25);
    font-size: 1.3rem;
    font-family: Barlow;

    &-num {
      margin-right: 1em;
      font-weight: bolder;

      color: variables.$dark-gray;

      font-size: 1.1em;
    }
  }

  @media all and (min-width: variables.$tablet-breakpoint) {
    padding: 20vw clamp(1rem, 2rem, 20vw);

    &__indicator {
      font-size: 1.05rem;
      text-align: start;
    }
  }

  @media all and (min-width: variables.$desktop-breakpoint) {
    padding: 16vmin 10% 5%;
    place-content: center;

    grid-template-columns: repeat(2, 1fr);

    &__indicator {
      font-size: 1.5rem;
      grid-column: 1/2;
      grid-row: 1/2;
    }
  }
}
